*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

/* bottoni */

.allbottoni{
    display: inline-block;
    position: absolute;
    padding: 10px;
    transform: translate( -50% , -50% );
    left: 50%;
    top: 2%;
    position: fixed;
    top: 40px;
    z-index: 999;
    
}

ul>a{
    text-decoration: none;
    color: white;
}

.b1{
    display: inline-block;
    padding: 20px;
    border: 3px solid black;
    border-radius: 65%;
    background-color: red;
    color: white;
    
}
.b2{
    display: inline-block;
    padding: 20px;
    border: 3px solid black;
    border-radius: 65%;
    background-color: green;
    color: white;
}
.b3{
    display: inline-block;
    padding: 20px;
    border: 3px solid black;
    border-radius: 65%;
    background-color: yellow;
    color: white;
}


/* scarpa rossa */

.back{
   background-color: red;
   height: 100vh;
   width: 100%;
}

.divscarpa{
    max-width: 40vw;
    margin: 0 auto;
    padding-top: 15vh;
   
}

.immaginesh{
    max-width: 40vw;
}

.scritta{
    font-size: 46px;
    text-align: center;
    color: yellow;
}

/* scarpa verde */

.back2{
    background-color: green;
    height: 100vh;
    width: 100%;
 }
 
 .divscarpa2{
     max-width: 40vw;
     margin: 0 auto;
     padding-top: 15vh;
    
 }
 
 .immaginesh2{
     max-width: 40vw;
 }
 
 .scritta2{
     font-size: 46px;
     text-align: center;
     color: yellow;
 }

 /* scarpa gialla */

.back3{
    background-color: yellow;
    height: 100vh;
    width: 100%;
 }
 
 .divscarpa3{
     max-width: 40vw;
     margin: 0 auto;
     padding-top: 15vh;
    
 }
 
 .immaginesh3{
     max-width: 40vw;
 }
 
 .scritta3{
     font-size: 46px;
     text-align: center;
     color: green;
 }